<h1>{Do me some.news}</h1>
<h2>[view them :here]</h1>

<ul id="news">
  <% @stories.each do |story| %>
    <li class="<%= story.type_of_media %>">
      <h2><%= link_to story.header, story.url %></h2>
      <p class="permalink"><%= link_to 'Trackback', story.url %></p>
      <p class="meta">
        <strong><%= story.source_name %></strong>
        <br/>
        <%= story.created_at %>
        <br/>
        <%= story.geo %>
      </p>
      <p class="summary"><%= story.summary %></p>
     </li>
  <% end %>
</ul>