<!DOCTYPE html>
<html>
<head>
  <title>MynewsdeskApi</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <%= javascript_include_tag "jquery.infinitescroll.min.js", "application", :cache => true %>
  <%= javascript_include_tag 'jquery', 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>
   <aside>
   		<%= yield(:aside) %>
   </aside>
   <section id="content">
		<%= yield %>
   </section>

</body>
</html>
